!!!
%html
  %head
    %title= "Import"
    %meta{ 'http-equiv' => "content-type", :content => "text/html; charset=utf-8" }
    = javascript_include_tag :defaults
    = stylesheet_link_tag "reset", "cg-base", "feedback", "application", :media => 'all', :cache => true

    = stylesheet_link_tag "import", :media => 'all'
    = stylesheet_link_tag "print", :media => 'print'
    = yield :head
  %body
    #Navigation.area
      .header
        %h1= PROJECT_NAME
        .group.w-links
          .body
 
      .body
           
    #Main
       #Content.area
        = yield
    #Footer.area
      / %p © Code Genome 2008