%p
  %label{:for => "imported_company_name"} Name:
  = f.text_field :name
%p
  %label{:for => "imported_company_location"} Location:
  = f.text_field :location
%p
  %label{:for => "imported_company_address1"} Address1:
  = f.text_field :address1
%p
  %label{:for => "imported_company_city"} City:
  = f.text_field :city
%p
  %label{:for => "imported_company_state"} State:
  = f.text_field :state
%p
  %label{:for => "imported_company_zip"} Zip:
  = f.text_field :zip
%p
  %label{:for => "imported_company_email"} Email:
  = f.text_field :email
%p
  %label{:for => "imported_company_phone"} Phone:
  = f.text_field :phone
%p
  %label{:for => "imported_company_website"} Website:
  = f.text_field :website
%p
  %label{:for => "imported_company_contact_name"} Contact name:
  = f.text_field :contact_name
%p
  %label{:for => "imported_company_contact_cell"} Contact cell:
  = f.text_field :contact_cell
%p
  %label{:for => "imported_company_contact_phone"} Contact phone:
  = f.text_field :contact_phone
%p
  %label{:for => "imported_company_contact_email"} Contact email:
  = f.text_field :contact_email
%p
  %label{:for => "imported_company_contact_title"} Contact title:
  = f.text_field :contact_title
%p
  %label{:for => "imported_company_estimated_sales"} Estimated sales:
  = f.text_field :estimated_sales
%p
  %label{:for => "imported_company_product"} Product:
  = f.text_field :product
%p
  %label{:for => "imported_company_year_established"} Year established:
  = f.text_field :year_established
