/ .result-count== #{pluralize @imported_companies_count, 'imported_company'} found
%table.normal
  %thead
    %tr		
      %th=  :name
      %th=  :location
      %th=  :address1
      %th=  :city
      %th=  :state
      %th=  :zip
      %th=  :email
      %th=  :phone
      %th=  :website
      %th=  :contact1_name
      %th=  :contact1_cell
      %th=  :contact1_phone
      %th=  :contact1_email
      %th=  :contact1_title
      %th=  :estimated_sales
      %th=  :product
      %th=  :year_established
      %th
      %th
      %th
  
  %tbody
  - list.each do |imported_company|
    - alt_tr do
      %td= h imported_company.name
      %td= h imported_company.name
      %td= h imported_company.location
      %td= h imported_company.address1
      %td= h imported_company.city
      %td= h imported_company.state
      %td= h imported_company.zip
      %td= h imported_company.email
      %td= h imported_company.phone
      %td= h imported_company.website
      %td= h imported_company.contact1_name
      %td= h imported_company.contact1_cell
      %td= h imported_company.contact1_phone
      %td= h imported_company.contact1_email
      %td= h imported_company.contact1_title
      %td= h imported_company.estimated_sales
      %td= h imported_company.product
      %td= h imported_company.year_established

      %td= link_to "Visualiser", object_url(imported_company)
      %td= link_to "Modifier", edit_object_url(imported_company)
      %td= link_to "Effacer", object_url(imported_company), :confirm => "En êtes-vous certain?", :method => :delete
