.header
  %h1 Show imported_company

.body
  .section
    %p
      %strong Name:
      =h @imported_company.name
    %p
      %strong Location:
      =h @imported_company.location
    %p
      %strong Address1:
      =h @imported_company.address1
    %p
      %strong City:
      =h @imported_company.city
    %p
      %strong State:
      =h @imported_company.state
    %p
      %strong Zip:
      =h @imported_company.zip
    %p
      %strong Email:
      =h @imported_company.email
    %p
      %strong Phone:
      =h @imported_company.phone
    %p
      %strong Website:
      =h @imported_company.website
    %p
      %strong Contact name:
      =h @imported_company.contact_name
    %p
      %strong Contact cell:
      =h @imported_company.contact_cell
    %p
      %strong Contact phone:
      =h @imported_company.contact_phone
    %p
      %strong Contact email:
      =h @imported_company.contact_email
    %p
      %strong Contact title:
      =h @imported_company.contact_title
    %p
      %strong Estimated sales:
      =h @imported_company.estimated_sales
    %p
      %strong Product:
      =h @imported_company.product
    %p
      %strong Year established:
      =h @imported_company.year_established

    = link_to 'Edit', edit_object_url
    |
    = link_to 'Back', collection_url

- content_for :sidebar do
  .section.w-actions
    .header
      %h1 Actions
    .body
      %ul
        %li.last
          =link_to 'New imported_company', new_object_url

  .section.w-actions
    .body
      - if @previous
        .previous= link_to( "&laquo; #{_('imported_company précédente')}",   imported_company_path( @previous ))
      - if @previous and @next
        %span &nbsp;...&nbsp; 
      - if @next
        .next= link_to( "#{_('imported_company suivante')} &raquo;",  imported_company_path( @next))
